:root {
  /* 색상 */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* 사이즈 */
  --padding: 12px;
  --profile-size: 40px;

  /* 폰트 사이즈 */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto Condensed;
}

button,
button:focus {
  background: none;
  border: none;
  cursor: pointer;
}

/*헤더*/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--white-color);
  height: 50px;
}

.logo {
  display: flex;
}

.logo button {
  margin-right: var(--padding);
  font-size: 15px;
}

.logo .fa-youtube {
  color: var(--red-color);
  font-size: 30px;
}

.logo .mainTitle {
  font-size: var(--font-large);
  font-weight: bolder;
  margin-left: 5px;
  margin-top: 3px;
}

.account {
  font-size: 20px;
  color: var(--black-color);
}

.account .fa-search {
  margin-right: var(--padding);
}

/*비디오*/
.player {
  position: sticky;
  top: 50px;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 300px;
}

/*비디오 정보 & 재생 목록*/
.infoAndnextList {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndnextList {
    flex-direction: row;
    margin: var(--padding) 0;
  }

  .info {
    flex: 1 1 45%;
  }

  .nextList {
    flex: 1 1 45%;
  }
}

/*비디오 정보*/
.info {
  padding: var(--padding);
}

/*태그*/
.hashTags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
  list-style: none;
}

.hashTags li a {
  margin-right: var(--padding);
  text-decoration: none;
}

/*비디오 타이틀*/
.titleAndBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.videoTitle {
  font-size: var(--font-medium);
  font-weight: bold;
}

.moreBtn {
  height: 100%;
}

/*조회수*/
.viewCount {
font-size: var(--font-small);
color: var(--grey-dark-color);
}

/*액션 버튼*/
.actionBtn {
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
}

.actionBtn button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
}

.actionBtn button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 20px;
  color: var(--grey-dark-color);
}

.good i {
  color: var(--blue-color) !important;
}

/*채널 정보*/
.chanelInfo {
  display: flex;
  justify-content: space-between;
  border: solid 1px var(--grey-light-color);
  border-radius: 3px;
  padding: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: var(--profile-size);
  height: var(--profile-size);
}

.infoData {
  display: flex;
  flex-direction: column;
  margin-left: var(--padding);
}

.profileName {
  font-size: var(--font-medium);
}

.profileViewer {
  margin-top:3px;
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.subScribe {
  background-color: var(--red-color);
  color: var(--white-color);
  width: 70px;
  border-radius: 5px;
}

/*댓글*/
.comments {
  display: flex;
  border: solid 1px var(--grey-light-color);
  border-radius: 3px;
  padding: 7px;
  margin-top: 10px;
}

.commentTxt {
  flex: 10%;
  font-size: var(--font-medium);
  padding: 0 7px;
  border-right: solid 1px var(--grey-light-color);
}

.add {
  flex: 80%;
  display: flex;
  margin-left: var(--padding);
  width: 100%;
}

.add i {
  font-size: 20px;
  margin-top: 7px;
}

.add input {
  margin-top: 3px;
  margin-left: var(--padding);
  background-color: var(--grey-light-color);
  border: none;
  border-radius: 3px;
  height: 80%;
  width: 300px;
}

.plusBtn {
  flex: 5%;
  font-size: 15px;
  color: var(--grey-dark-color);
}


/*재생목록*/
.nextList {
  padding: var(--padding);
}

.nextList .nextText{
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
}

.nextItem {
  display: flex;
  margin-top: var(--padding);
}

.nextItem .img {
  flex: 1 1 35%;
}

.nextItem .img img {
  width: 100%;
}

.nextInfo {
  display: flex;
  flex-direction: column;
  margin-left: var(--padding);
  padding: 5px 0;
  flex: 1 1 60%;
}

.nextTitle {
  font-size: var(--font-medium);
  margin-bottom: 30px;
}

.nextName,
.nextViewCount {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.nextMore {
  flex: 1 1 5%;
}
