:root {
  /* 색상 */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* 사이즈 */
  --padding: 12px;
  --profile-size: 36px;

  /* 폰트 사이즈 */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto Condensed;
}

button,
button:focus {
  background: none;
  border: none;
  cursor: pointer;
}

/*헤더*/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--white-color);
  height: 50px;
}

.logo i {
  color: var(--red-color);
}

.logo .mainTitle {
  font-size: var(--font-large);
  font-weight: bolder;
}

.account .fa-search {
  margin-right: var(--padding);
}

/*비디오*/
.player {
  position: sticky;
  top: 50px;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 300px;
}

/*비디오 정보*/
.info {
  padding: var(--padding);
}

/*태그*/
.hashTags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
  list-style: none;
}

.hashTags li a {
  margin-right: var(--padding);
  text-decoration: none;
}

/*비디오 타이틀*/
.titleAndBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.videoTitle {
  font-size: var(--font-medium);
  font-weight: bold;
}

.moreBtn {
  height: 100%;
}

/*조회수*/
.viewCount {
font-size: var(--font-small);
color: var(--grey-dark-color);
}

/*액션 버튼*/
.actionBtn {
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
}

.actionBtn button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
}

.actionBtn button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 20px;
  color: var(--grey-dark-color);
}

.good i {
  color: var(--blue-color) !important;
}

/*채널 정보*/
.chanelInfo {
  display: flex;
  justify-content: space-between;
  border: solid 1px var(--grey-light-color);
  border-radius: 3px;
  padding: var(--padding);
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: var(--profile-size);
  height: var(--profile-size);
}

.infoData {
  display: flex;
  flex-direction: column;
  margin-left: var(--padding);
}

.profileName {
  font-size: var(--font-medium);
}

.profileViewer {
  margin-top:3px;
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.subScribe {
  background-color: var(--red-color);
  color: var(--white-color);
  width: 70px;
  border-radius: 5px;
}


/*재생목록*/
.nextList {
}

.nextVideo {
}

.nextImage img {
}

.nextTitle {
}

